bottle==0.12.19
bottle-websocket==0.2.9
Eel==0.14.0
future==0.18.2
gevent==21.1.1
gevent-websocket==0.10.1
greenlet==1.0.0
pyparsing==2.4.7
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
attrs==20.3.0
bottle==0.12.19
bottle-websocket==0.2.9
Eel==0.14.0
future==0.18.2
gevent==21.1.1
gevent-websocket==0.10.1
greenlet==1.0.0
iniconfig==1.1.1
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
toml==0.10.2
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
attrs==20.3.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.12.5
chardet==4.0.0
Eel==0.14.0
future==0.18.2
gevent==21.1.1
gevent-websocket==0.10.1
greenlet==1.0.0
idna==2.10
iniconfig==1.1.1
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
requests==2.25.1
toml==0.10.2
urllib3==1.26.2
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
attrs==20.3.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.12.5
chardet==4.0.0
Eel==0.14.0
future==0.18.2
gevent==21.1.1
gevent-websocket==0.10.1
greenlet==1.0.0
idna==2.10
iniconfig==1.1.1
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
requests==2.25.1
toml==0.10.2
urllib3==1.26.2
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
attrs==20.3.0
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
Eel==0.14.0
future==0.18.2
gevent==21.1.1
gevent-websocket==0.10.1
greenlet==1.0.0
idna==2.10
iniconfig==1.1.1
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
requests==2.25.1
soupsieve==2.1
toml==0.10.2
urllib3==1.26.2
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
Collecting pytest-html
  Downloading pytest_html-3.1.1-py3-none-any.whl (14 kB)
Requirement already satisfied: pytest!=6.0.0,>=5.0 in ./venv/lib/python3.8/site-packages (from pytest-html) (6.2.1)
Requirement already satisfied: pluggy<1.0.0a1,>=0.12 in ./venv/lib/python3.8/site-packages (from pytest!=6.0.0,>=5.0->pytest-html) (0.13.1)
Requirement already satisfied: py>=1.8.2 in ./venv/lib/python3.8/site-packages (from pytest!=6.0.0,>=5.0->pytest-html) (1.10.0)
Requirement already satisfied: iniconfig in ./venv/lib/python3.8/site-packages (from pytest!=6.0.0,>=5.0->pytest-html) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in ./venv/lib/python3.8/site-packages (from pytest!=6.0.0,>=5.0->pytest-html) (20.3.0)
Requirement already satisfied: packaging in ./venv/lib/python3.8/site-packages (from pytest!=6.0.0,>=5.0->pytest-html) (20.8)
Requirement already satisfied: toml in ./venv/lib/python3.8/site-packages (from pytest!=6.0.0,>=5.0->pytest-html) (0.10.2)
Requirement already satisfied: pyparsing>=2.0.2 in ./venv/lib/python3.8/site-packages (from packaging->pytest!=6.0.0,>=5.0->pytest-html) (2.4.7)
Collecting pytest-metadata
  Downloading pytest_metadata-1.11.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: pytest-metadata, pytest-html
Successfully installed pytest-html-3.1.1 pytest-metadata-1.11.0
attrs==20.3.0
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
Eel==0.14.0
future==0.18.2
gevent==21.1.1
gevent-websocket==0.10.1
greenlet==1.0.0
idna==2.10
iniconfig==1.1.1
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
pytest-html==3.1.1
pytest-metadata==1.11.0
requests==2.25.1
soupsieve==2.1
toml==0.10.2
urllib3==1.26.2
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
attrs==20.3.0
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
Eel==0.14.0
future==0.18.2
gevent==21.1.1
gevent-websocket==0.10.1
greenlet==1.0.0
idna==2.10
iniconfig==1.1.1
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
pytest-html==3.1.1
pytest-metadata==1.11.0
requests==2.25.1
soupsieve==2.1
toml==0.10.2
urllib3==1.26.2
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
